
/*-------------------------------------------------------------------------------------------------
Layout
-------------------------------------------------------------------------------------------------*/

h1 {	
	font-family: "Trebuchet MS", Helvetica, sans-serif;
   font-style:italic;
   color:Black;
	text-align:center;
	font-size:30px;
	margin-top:25px;
	margin-bottom:25px;
}

form {	
	text-align:center;
	#margin-left:100px;
}
   #text-indent:50px;


input[type=text] {

	font-size:16px;
   outline-width:thick;
}


#gomez {
	float:right;
   width:120px ;
   height:80px;
}

#dataTable {
	margin-left:200px;
   table-layout: fixed;
   width:"100%" 
   width:"1000px" 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
   #text-align:"left"
}


#tblcolhead {
background-color:lime;
}
#tblcoladd {
background-color:ivory;
}

/*-------------------------------------------------------------------------------------------------
Buttons
-------------------------------------------------------------------------------------------------*/
input[type=button] {
  font: bold 11px/1 "Trebuchet MS", Helvetica, sans-serif;
  width: 75;
}
